.container {
    background-image: url("/istockphoto-1097481110-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    margin: 10px;
    height: 500px;
    width: 1000px;
}

.tittle {
    border-bottom: 1px solid;
    padding: 5px;
    font-size: large;
}

.main {
    display: flex;
}

.left {
    padding: 10px;
}


.left-side {
    float: left;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-top-left-radius: 3em 5em;
    border-top-right-radius: 1em;
}

.right-side {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    margin-left: 55px;
    margin-right: 80px;
    border-top-left-radius: 1em;
    border-top-right-radius: 3em 5em;
}

.enter-data {
    border: 1px solid;
    padding: 10px;
}

.enter-city {
    margin: 5px;
}

.departure {
    margin: 5px;
}

.return {
    margin: 10px;
}



.right {
    border-left: 1px solid;
}

.greater {
    border-bottom: 1px solid;
    float: left;
    width: 612px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.journey {
    border-bottom: 1px solid;
    float: right;
    font-size: small;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
}

#fligths {
    width: 718px;
    height: 400px;
    overflow: auto;
    padding: 10px;
}

#fligths::-webkit-scrollbar {
    width: 10px;
}


/* Track */

#fligths::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

#fligths::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

#fligths::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container-1 {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
}

.ruppee {
    font-size: large;
    padding-left: 10px;
    padding-top: 10px;
}

.card {
    display: flex;
}

.first-col {
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    margin-right: 120px;
}

.second-col {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 150px;
    font-size: large;
}

.third-col {
    float: right;
}

.book {
    display: flex;
    justify-content: center;
}

.ai {
    font-size: medium;
}
